<table width="600">
  <tbody>
    <tr>
      <td style="padding:15px;">
        <%= @user.first_name %>,

        <p>A request to reset your <a href="CHANGEME.com">CHANGEME.com</a> password has been made.</p>

        <p>If you did not make this request, please ignore this email.</p>

        <p>If you did make this request, please click the following link to choose a new password:</p>

        <p><%= link_to 'Reset Your Password', reset_password_url(:host => 'CHANGEME.com', :token => @user.perishable_token) %></p>

        <p>
          Thank you,<br />
          CHANGEME staff
        </p>
      </td>
    </tr>
  </tbody>
</table>
