/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

 h1 {
  font-family: 'Paytone One', sans-serif;
 }

  h2 {
  font-family: 'Paytone One', sans-serif;
  font-size: 2em;
  color: #ed4444;
  text-align: center;
  padding: .5em 0 1.5em 0;
 }

 h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  font-weight: 600;
  padding-bottom: .75em;
 }

 p, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
 }

 p, pre {
  margin: 0 auto;
  max-width: 38rem;
 }

 a {
  font-family: 'Open Sans', sans-serif;
  color: #ed4444;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  transition: color .2s linear;
}

a:hover {
  color: #94282a;
}

// a:visited {
//   color: #ed4444;
// }

.header-primary {}

.nav-primary {}

.content-primary {}

.footer-primary {
  background: #942829;
  color: #989DA4;
  padding: 3em 1em;
  text-align: center;
}

.welcome {
  color: #bdc3c7;
  display: table;
  min-height: 20em;
  padding: 1em 1em 5em;
  position: relative;
  text-align: center;
  width: 100%;
}

.logo-cs-labs {
  background: url(../images/cslabs-logo.png) no-repeat 0 0;
  display: inline-block;
  height: 39px;
  width: 207px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.footer-primary .logo-cs-labs {
  display: block;
  margin: 0 auto;
}

.mega {
  color: #ed4444;
  font-size: 3.25em;
}

.minor {
  font-size: 1.75em;
}

.instructions {
  margin: 0 auto;
  max-width: 37.5em;
  padding-bottom: 3em;
}

.instructions p {
  padding-bottom: .75em;
}

pre {
  background: #fff;
  border: 1px solid #ddd;
  // margin-bottom: 2em;
  padding: 1em 0 0 0;
  overflow: auto;
}

code[class*=language-], pre[class*=language-] {
  color: #000;
  text-shadow: 0 1px #fff;
  font-family: Consolas,Monaco,'Andale Mono',monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  float: left;
  padding: 0 0 0 1em;
}

.bullets {
  list-style-type: disc;
}