body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $unitless-line-height;
}

h1, h2, h3, h5 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: $base-font-size * 2.25; // 16 * 2.25 = 36px
}

h2 {
  font-size: 2em;
  color: $light-red;
  text-align: center;
  padding: .5em 0 1.5em 0;
}

h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
}

h4 {
  font-family: $sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  padding-bottom: 0;
  margin-bottom: .25em;
  margin-top: 0;
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
}

h6 {
  font-family: $header-font-family;
  font-size: 1.15em;
  margin: 1em;
  color: $light-red;
}

p {
  margin: 0 0 ($base-line-height * .5);
  font-family: $sans-serif;
  font-size: 1em;
}


a {
  font-family: $sans-serif;
  @include transition(color 0.1s linear);
  color: $light-red;
  text-decoration: none;

  &:hover {
    color: #94282a;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
