.fa {
  &.medium-gray {
    color: $medium-gray;
  }

  &.light-gray {
    color: $light-gray;
  }

  &.dark-gray {
    color: $dark-gray;
  }
}

.icon-rotate {
  @include transform(rotate(45deg));
}
